# теперь этот файл для проекта шакала для выклада на гитхаб!
# в нем должны быть перекрыты настройки глобального гитигнора!

# следить за всеми типами данных!
!*.*

# не следить за каталогами с сырыми данными
/теория
/сырое/
# можно писать и так и так...


# за ними тоже следить не будем
favicon.png
jackal.svg
логика ходов.doc